.App {
    text-align: center;
}

body {
    margin: 0;
    background-image: url(https://i.stack.imgur.com/jGlzr.png);
}
  
.container {
   align-items: center; 
   justify-items: space-between;
   flex-direction: row;
}